.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  z-index: 1;
}

.dropdown-menu li {
  background: #351d5d;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #512c8c;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #f7f5fb;
  padding: 16px;
}
