.products_div {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  align-items: center;
  background-color: #fafafa;
}

.products {
  display: flex;
  max-width: 1500px !important;
  z-index: 1;
  margin: 10px;
}

.prebuilt_header {
  margin-top: 20px;
}

.product_category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
